body {
    margin: 0;

    font-family: "Source Sans Pro", sans-serif;

    background-color: #2a333d;
}

.avatar {
    display: inline-block;
    vertical-align: text-bottom;
    height: 3em;
}

.logo {
    display: inline-block;
    width: 250px;
    height: 50px;
    margin: 2vh 0 0 2vh;
    text-align: left;
    vertical-align: text-bottom;
}

.align-left {
    display: flex;
    padding: 8px;

    align-items: center;
}

.tu-cuenta {
    padding-left: 24px;
    margin: 0;
    margin-left: -30px;

    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: normal;

    color: #2a333d;
    border-left: 6px solid #ff6600;
}

.header {
    display: flex;
    width: 90%;
 height: 10vh;


    justify-content: space-between;
}

.cuenta-info {
    display: block;
    width: 100%;
}

#nombre {
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;

    font-size: 14px;

    text-overflow: ellipsis;

    color: #fff;
}

.links {
    position: relative;

    display: block;
    padding: 0;
    margin: 20px 0;
    margin-bottom: 30px;

    font-family: "Source Sans Pro";
    font-size: 16px;

    cursor: pointer;
    -webkit-transition: all .6s ease-in-out;
       -moz-transition: all .6s ease-in-out;
         -o-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
    text-align: left;
    vertical-align: text-bottom;

    color: #666;
    border: 0;
    background-color: transparent;
}

.links:hover {
    margin-left: 10px;

    color: #ff8800;
}

.white-container {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
    height: 90vh;
    justify-content: center;
    width: 100vw;
}

.green-container {
    display: flex;
    width: 65%;
    box-sizing: border-box;

    text-align: center;

    color: white;
    background-color: #ff6600;

    align-items: center;
}

.menu-container {
    display: block;
    width: 35%;
    padding: 35px;
}

.cuenta-container {
    width: 35%;
}

#saldo-cuenta {
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;

    font-size: 6.5vw;

    text-align: center;
    text-overflow: ellipsis;
}

#limite-extraccion {
    overflow: hidden;

    font-size: 15px;

    text-overflow: ellipsis;
}

#cuenta-suspendida {
    display: none;
}

@media only screen and (max-width: 800px) {

    .align-left {
        margin-top: 1.3em;
    }
    .white-container {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .green-container {
        width: 100%;
        margin-bottom: 20px;
    }

    #saldo-cuenta {
        font-size: 8.5vw;
    }
    #cuenta-suspendida {
        padding: 2em;
    }
    .menu-container{
        width: 100%;
    }

    .header {
        margin-bottom: 12px;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }
}
